<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
</style>
<body background="../../../assets/Imagenes/Imagen_trabajo_1_benvenuto.jpg">
  <main>
      <div class="px-4 pt-5 my-5 text-center border-bottom">
          <h1 class="display-4 fw-bold nombreBenvenuto Letras-inicio">Benvenuto</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 Letras-inicio"><b>Carpintería Artesanal</b> desde 1970 en la ciudad de Cipolletti.
              Realizamos trabajos en <b>Madera Estacionada</b>.
              Fabricamos todo tipo de <b>Amoblamientos en Melamina</b>.
              Contamos con stock de <b>Muebles</b> realizados por nosotros</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
              <a href="trabajo" type="button" class="btn btn-info btn-lg px-4 me-sm-3">Trabajos</a>
              <a href="servicios" type="button" class="btn btn-secondary btn-lg px-4">Servicios</a>
            </div>
          </div>
      </div>
  </main>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>