<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
</style>

<main>

    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Benvenuto</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Carpintería Artesanal desde <b>1970</b> en la ciudad de <b>Cipolletti.</b>
            Realizamos trabajos en Madera Estacionada.
            Fabricamos todo tipo de Amoblamientos en Melamina.
            Contamos con stock de Muebles realizados por nosotros</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="trabajo" type="button"class="btn btn-primary btn-lg px-4 me-sm-3">Trabajos</a>
            <a href="servicios" type="button" class="btn btn-outline-secondary btn-lg px-4">Servicios</a>
          </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
          <div class="container px-5">
            <img src="../../../assets/Imagenes/benvenuto.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
          </div>
        </div>
    </div>
</main>
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  