<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
</style>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Trabajos realizados</h1>
        <p class="lead text-muted">Estos son algunos de los trabajos que hemos realizado</p>
      </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="./../../../assets/Imagenes/Imagen_trabajo_1_benvenuto.jpg" class="card-img-top" alt="ImagenDeTrabajo">
            
            <div class="card-body">
              <p class="card-text">Mesada hecha de madera</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="servicios" class="btn btn-sm btn-outline-secondary">Servicios</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./../../../assets/Imagenes/Imagen_trabajo_2_benvenuto.jpg" class="card-img-top" alt="ImagenDeTrabajo">

            <div class="card-body">
              <p class="card-text">Mesa rectangular</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="servicios" class="btn btn-sm btn-outline-secondary">Servicios</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./../../../assets/Imagenes/Imagen_trabajo_3_benvenuto.jpg" class="card-img-top" alt="ImagenDeTrabajo">

            <div class="card-body">
              <p class="card-text">Mesas redondas pequeñas</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="servicios" class="btn btn-sm btn-outline-secondary">Servicios</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./../../../assets/Imagenes/Imagen_trabajo_4_benvenuto.jpg" class="card-img-top" alt="ImagenDeTrabajo">

            <div class="card-body">
              <p class="card-text">Puertas de madera</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="servicios" class="btn btn-sm btn-outline-secondary">Servicios</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./../../../assets/Imagenes/Imagen_trabajo_5_benvenuto.jpg" class="card-img-top" alt="ImagenDeTrabajo">

            <div class="card-body">
              <p class="card-text">Muebles blancos de cocina</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="servicios" class="btn btn-sm btn-outline-secondary">Servicios</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./../../../assets/Imagenes/Imagen_trabajo_6_benvenuto.jpg" class="card-img-top" alt="ImagenDeTrabajo">

            <div class="card-body">
              <p class="card-text">Muebles negros de cocina</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="servicios" class="btn btn-sm btn-outline-secondary">Servicios</a>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
</div>