<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
</style>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light SubtitulosBenvenuto">Trabajos realizados</h1>
        <p class="lead text-muted">Estos son algunos de los trabajos que hemos realizado a lo largo de nuestra trayectoria</p>
      </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
        <div class="col">
          <div class="card shadow-sm">
            <img src="./../../../assets/Imagenes/Imagen_trabajo_1_benvenuto.jpg" class="card-img-top" alt="ImagenDeTrabajo">
            
            <div class="card-body">
              <h4 class="card-text">Mesada hecha de madera</h4>
              <p>Cubierta realizada en Eucalipto Alistonado. Se realizaron todos los ajustes de la misma en obra, se preparó y se laqueó dándole una terminación súper suave y delicada al tacto.</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="servicios" class="btn btn-sm btn-outline-info">Servicios</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="./../../../assets/Imagenes/Imagen_trabajo_2_benvenuto.jpg" class="card-img-top" alt="ImagenDeTrabajo">
            <div class="card-body">
              <h4 class="card-text">Mesa rectangular</h4>
              <p>(Estructuras de metal entregadas por nuestro cliente). Las Tapas rectangulares en Cedro Enchapado con Terminación Brillante.</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="servicios" class="btn btn-sm btn-outline-info">Servicios</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="./../../../assets/Imagenes/Imagen_trabajo_3_benvenuto.jpg" class="card-img-top" alt="ImagenDeTrabajo">

            <div class="card-body">
              <h4 class="card-text">Mesas redondas pequeñas</h4>
              <p>Hace un tiempo entregamos este Trabajo. El cliente nos entregó las estructuras de Caño y nosotros realizamos las respectivas Tapas en Cedro Enchapado con Terminación Brillante.</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="servicios" class="btn btn-sm btn-outline-info">Servicios</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="./../../../assets/Imagenes/Imagen_trabajo_4_benvenuto.jpg" class="card-img-top" alt="ImagenDeTrabajo">

            <div class="card-body">
              <h4 class="card-text">Puertas de madera</h4>
              <p>Puertas Vintage. Realizadas a pedido con Tablero Replanado y Molduras Personalizadas. Todo construido en Caroba 100% Estacionada.</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="servicios" class="btn btn-sm btn-outline-info">Servicios</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./../../../assets/Imagenes/Imagen_trabajo_5_benvenuto.jpg" class="card-img-top" alt="ImagenDeTrabajo">

            <div class="card-body">
              <h4 class="card-text">Muebles blancos de cocina</h4>
              <p>Bajo Mesada a Medida Terminado e Instalado en la Ciudad de Cipolletti</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="servicios" class="btn btn-sm btn-outline-info">Servicios</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <img src="./../../../assets/Imagenes/Imagen_trabajo_6_benvenuto.jpg" class="card-img-top" alt="ImagenDeTrabajo">

            <div class="card-body">
              <h4 class="card-text">Muebles negros de cocina</h4>
              <p>Renovación de Cocina en Proceso. La semana pasada realizamos la instalación de estos Amoblamientos a Medida. </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="servicios" class="btn btn-sm btn-outline-info">Servicios</a>
              </div>
            </div>
          </div>
        </div> 

        <div class="col">
          <div class="card shadow-sm">
            <img src="./../../../assets/Imagenes/Imagen_trabajo_7_benvenuto.jpg" class="card-img-top" alt="ImagenDeTrabajo">

            <div class="card-body">
              <h4 class="card-text">Mesa rectangular </h4>
              <p>Mesa Ratona en Paraíso 100% Laqueado </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="servicios" class="btn btn-sm btn-outline-info">Servicios</a>
              </div>
            </div>
          </div>
        </div> 

        <div class="col">
          <div class="card shadow-sm">
            <img src="./../../../assets/Imagenes/Imagen_trabajo_8_benvenuto.jpg" class="card-img-top" alt="ImagenDeTrabajo">

            <div class="card-body">
              <h4 class="card-text">Lava manos</h4>
              <p>Tapa para Vanitory Terminada, realizada en Marmelero con más de 10 años Estacionada.  </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="servicios" class="btn btn-sm btn-outline-info">Servicios</a>
              </div>
            </div>
          </div>
        </div> 

        <div class="col">
          <div class="card shadow-sm">
            <img src="./../../../assets/Imagenes/Imagen_trabajo_9_benvenuto.jpg" class="card-img-top" alt="ImagenDeTrabajo">

            <div class="card-body">
              <h4 class="card-text">Caja para vinos</h4>
              <p>Caja Personalizada para Vinos. Realizada 100% en OSB.  </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="servicios" class="btn btn-sm btn-outline-info">Servicios</a>
              </div>
            </div>
          </div>
        </div> 

      </div>
    </div>
</div>